@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

body{
  font-family: 'EB Garamond', serif;
}

h1, h2, button, footer{
  font-family:'Oswald', sans-serif;
}

h1, h2{
  font-weight: 500;
  line-height: 5rem;
}

h1, a{
  background: linear-gradient(120deg, rgb(140,9,128) 15%, rgb(46,92,242) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}

button {
    background: linear-gradient(120deg, rgba(140,9,128,0.5) 15%, rgba(46,92,242,0.5) 100%);
    font-family: 'Oswald', sans-serif;
    transition: background 100ms ease-in-out,
                transform 100ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: linear-gradient(120deg, rgb(140,9,128) 15%, rgb(46,92,242) 100%);
}

button:focus {
    outline: 1px dotted rgb(245, 245, 245);
    outline-offset: -10px;

}

button:active {
    transform: scale(0.95);
}
